@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Azeret Mono;
    margin: 0;
    padding: 0;
}
nav{

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
    
}
nav h2{
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
nav button{
    height: 58px;
    width: 228px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    border: 1px solid black;
    border-radius: 8px;
    opacity: 0.8;

}

#sec-1{
    background-image: url(../B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    background-size: cover;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
#sec-1 .hero{
    
    width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}
.hero h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.hero p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}
.hero button{
    height: 66px;
    width: 208px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 32px;
    background: rgb(13, 19, 33);
}

#sec-2{
    width: 1140px;
    height: 1395px;
    
    border-radius: 16px;
    margin: 50px 160px;
    background: rgba(13, 19, 33, 0.02);
    /* margin: 80px 97px; */
}
#sec-2 .content{
    height: 1235px;
    width: 946px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 97px;
    
}
.content h1{
    font-size: 32px;
    font-weight: 800;

}
.content .pera {
    text-align: center;
}
 p{
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

.bio{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 58px; */
    margin: 32px;

}
.bio .info{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-left: 40px;
    
}
.info .click{
    width: 150px;
    height: 48px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}
.image-2{
    margin-left: 96px;
}


#sec-3{
   
    width: 1140px;
    height: 777px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 88px 160px;

}

#sec-3 h2{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
#sec-3 p{
    margin: 24px 0px 48px 0px;
    text-align: center;
}
.frame{
    width: 1140px;
    height: 614px;
    background: #ffffff;
    border: 1px solid rgba(13, 19, 33, 0.2);;
    border-radius: 16px;
   
}
.frame iframe{
    width: 1076px;
    height: 550px;
    margin: 32px;
    border-radius: 16px;
    
}